:root {
  --bg-color: #141414;
  --bg-gradient-from: #14141400;
  --bg-gradient-to: #141414FF;
  --bg-image: url("/assets/images/bg.jpg");
}

body {
  background: var(--bg-color);
  color: white;
  
  margin: 0px;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  font-family: monospace;
}
body.stylish-bg {
  background: linear-gradient(to bottom, var(--bg-gradient-from), var(--bg-gradient-to)), var(--bg-image), var(--bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: blur(5px);
}

section {
  flex: 1 450px;
}
footer {
  color: gray;
  position: absolute;
  bottom: 10px;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.profile-img {
  width: 125px;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 5px black);
}
.page-title {
  font-size: xx-large;
}
.nickname {
	font-size: large;
	vertical-align: middle;
	color: gray;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 25px;
  gap: 10px;
}
.links a {
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border: 5px white solid;
  font-size: large;
  
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 101%;
  background-position: right top;
  transition: all .1s ease-in-out;
}
.links a:hover {
  background-position: left top;
  color: black !important;
  filter: drop-shadow(0px 0px 5px black);
}
.icon {
  display: inline;
  float: left;
}