:root {
  --bg-color: #141414;
  --bg-gradient-from: #14141400;
  --bg-gradient-to: #141414FF;
  --bg-image: url("/assets/images/bg.jpg");
}

body {
  background: var(--bg-color);
  color: white;
  
  margin: 0px;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  text-align: center;
  
  font-family: monospace;
}
body.stylish-bg {
  padding: 3rem 0;
  background: linear-gradient(to bottom, var(--bg-gradient-from), var(--bg-gradient-to)), var(--bg-image), var(--bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: blur(5px);
}

@media only screen and (min-width: 900px) {
  body {
    height: calc(100vh - 6rem);
    align-content: center;
  }
}

section {
  flex: 1 450px;
}
footer {
  color: gray;
  position: absolute;
  bottom: 10px;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.profile-img {
  width: 125px;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 5px black);
}
.page-title {
  font-size: xx-large;
}
.aka {
	font-size: large;
	color: gray;
}

.links {
  display: flex;
  flex: 1 450px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.links * {
  max-width: 400px;
}

@media only screen and (max-width: 600px) {
  .links * {
    max-width: 90vw;
  }
}

.links h3 {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}
.links hr {
  width: 100%;
  margin-left: 10px;
  background: white;
  border: 1px white solid;
  opacity: 50%;
}
.links a {
  width: 100%;
  padding: 10px;
  border: 5px white solid;
  font-size: large;
  
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 101%;
  background-position: right top;

  transition-property: color, background-position, filter;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;

  box-sizing: border-box;
  width: 100%;
}
.links a:hover {
  background-position: left top;
  color: black !important;
  filter: drop-shadow(0px 0px 5px black);
}
.icon {
  display: inline;
  float: left;
}
.icon i {
  font-weight: normal;
}

.u-name {
  visibility: hidden;
  display: none;
  opacity: 50%;
}
.links a:hover .u-name {
  display: initial;
  visibility: visible;
}

.fyi-card {
  background-color: #141414;
  display: inline-flex;
  flex-direction: column;
  padding: 10px 25px;
  border-radius: 10px;
}

.fyi-card h2 {
  margin-bottom: 0px;
}

.fyi-card a {
  text-decoration: underline;
}